<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>

<h2>Add Student</h2>

<form method="POST">

    <label>Student ID</label><br>
    <input type="text" name="student_code" required><br><br>

    <label>Student Name</label><br>
    <input type="text" name="name" required><br><br>

    <label>Select Subjects</label><br>

    {% for subject in subjects %}
        <input type="checkbox" name="subjects" value="{{ subject.id }}">
        {{ subject.name }} <br>
    {% endfor %}

    <br>

    <button type="submit">Create Student</button>

</form>

<br>

<a href="{{ url_for('teacher.dashboard') }}">Back</a>

</body>
</html>
