<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Add Student</h2>

<form method="POST">

    <label>Student ID</label><br>
    <input type="text" name="student_code" required><br><br>

    <label>Student Name</label><br>
    <input type="text" name="name" required><br><br>

    <label>Login Username</label><br>
    <input type="text" name="username" required><br><br>

    <label>Login Password</label><br>
    <input type="text" name="password" required><br><br>

    <label>Select Subjects</label><br>
    {% for subject in subjects %}
        <input type="checkbox" name="subjects" value="{{ subject.id }}">
        {{ subject.name }} <br>
    {% endfor %}

    <br>

    <button type="submit">Create Student</button>

</form>

<br>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<br>

<a href="{{ url_for('teacher.dashboard') }}">Back</a>

</body>
</html>
