<!DOCTYPE html>
<html>
<head>
    <title>Create Class</title>
</head>
<body>

<h2>Create Class</h2>

<form method="POST">

    <label>Select Subject</label><br>

    <select name="subject_id" required>

        <option value="">Select</option>

        {% for subject in subjects %}

        <option value="{{ subject.id }}">
            {{ subject.name }}
        </option>

        {% endfor %}

    </select>

    <br><br>

    <label>Class Date</label><br>
    <input type="date" name="class_date" required>

    <br><br>

    <label>Start Time</label><br>
    <input type="time" name="start_time" required>

    <br><br>

    <label>End Time</label><br>
    <input type="time" name="end_time" required>

    <br><br>

    <button type="submit">
        Create Class
    </button>

</form>

<br>

{% with messages = get_flashed_messages() %}
    {% if messages %}

        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}

    {% endif %}
{% endwith %}

<br>

<a href="{{ url_for('teacher.dashboard') }}">
    Back
</a>

</body>
</html>
