{% extends "base.html" %}

{% block content %}

<h2>Create Class / Subject</h2>

<form method="POST">

    <label>Subject / Class Name</label>
    <input type="text" name="class_name" required>

    <br><br>

    <label>Date</label>
    <input type="date" name="class_date" required>

    <br><br>

    <label>Start Time</label>
    <input type="time" name="start_time" required>

    <br><br>

    <label>End Time</label>
    <input type="time" name="end_time" required>

    <br><br>

    <h3>Assign Students</h3>

    {% for student in students %}

        <label>
            <input type="checkbox"
                   name="students"
                   value="{{ student.id }}">

            {{ student.name }}
        </label>

        <br>

    {% endfor %}

    <br>

    <button type="submit">
        Create Class
    </button>

</form>

{% endblock %}
