<!DOCTYPE html>
<html>
<head>
    <title>Teacher Dashboard</title>
</head>
<body>

<h1>Teacher Dashboard</h1>

<br>

<a href="{{ url_for('teacher.subjects') }}">
    Create Subjects
</a>

<br><br>

<a href="{{ url_for('teacher.add_student') }}">
    Add Student
</a>

<br><br>

<a href="{{ url_for('teacher.students') }}">
    Students List
</a>

<br><br>

<a href="{{ url_for('teacher.create_class') }}">
    Create Class
</a>

<br><br>

<a href="{{ url_for('emergency.emergency_home') }}">
    Emergency
</a>

<hr>

<h2>All Classes</h2>

<table border="1" cellpadding="10">

    <tr>
        <th>Subject</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Attendance</th>
    </tr>

    {% for cls in classes %}

    <tr>

        <td>{{ cls.class_name }}</td>

        <td>{{ cls.class_date }}</td>

        <td>{{ cls.start_time }}</td>

        <td>{{ cls.end_time }}</td>

        <td>

            <a href="{{ url_for('teacher.attendance', class_id=cls.id) }}">
                Take Attendance
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

</body>
</html>
