{% extends "base.html" %}

{% block content %}

<h2>Teacher Dashboard</h2>

<a href="{{ url_for('teacher.students') }}">Manage Students</a>
<br><br>

<a href="{{ url_for('teacher.create_class') }}">Create Class / Subject</a>
<br><br>

<a href="{{ url_for('teacher.analysis') }}">View Attendance Analysis</a>

<hr>

<h3>Classes</h3>

<table border="1" cellpadding="10">
    <tr>
        <th>Subject</th>
        <th>Date</th>
        <th>Time</th>
        <th>Attendance</th>
    </tr>

    {% for class in classes %}
    <tr>
        <td>{{ class.class_name }}</td>
        <td>{{ class.class_date }}</td>
        <td>{{ class.start_time }} - {{ class.end_time }}</td>
        <td>
            <a href="{{ url_for('teacher.take_attendance', class_id=class.id) }}">
                Mark / Edit Attendance
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
